@font-face {
  font-family: 'Graphik', sans-serif;
  src: url('../fonts/GraphikCond-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik', sans-serif;
  src: url('../fonts/GraphikCond-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '', sans-serif;
  src: url('../fonts/') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
