.opentype {
  padding: 80px 0;
  margin-bottom: 100px;

  &__box {
    border-radius: 33px;
    background: #343434;
    height: 370px;
    display: flex;
    justify-content: space-evenly;

    &-text {
      padding: 78.5px 0 78.5px 94px;

      &-title {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 52px;
        line-height: 1.19;
        max-width: 499px;
        opacity: 0.7;
        margin-bottom: 37px;
      }

      &-btn {
        @include btn(transparent, $primary, 0px, $light-text, 17px, 13.5px, 13.5px);
        width: 232px;
        transition: all 0.5s;

        &:hover {
          @include btn(#fff, transparent, 0px, $light-text, 17px, 13.5px, 13.5px);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    &-img {
      overflow: hidden;
      img {
        position: relative;
        top: 40px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .wrap-padding {
    padding: 0 15px;
  }

  .opentype {
    &__box {
      flex-direction: column;
      align-items: center;
      height: 418px;

      &-text {
        text-align: center;
        padding: 10px 71px;

        &-btn {
          display: block;
          margin: 0 auto;
        }
      }

      &-img {
        overflow: visible;

        img {
          position: static;
        }
      }
    }
  }
}
